@media screen and (max-width: 448px) {
  .header {
    display: none !important;
  }
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  @apply border-custom-black;

  &__logo {
    width: clamp(152px, 15.832320000000001vw, 608px);
    height: clamp(14.5px, 1.51032vw, 58px);
  }
}
