@media screen and (max-width: 448px) {
  .header {
    display: none !important;
  }
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  z-index: 100;
  border-color: #676767;
  @apply bg-white;

  &__logo {
    width: clamp(152px, 15.832320000000001vw, 608px);
    height: clamp(14.5px, 1.51032vw, 58px);
    cursor: pointer;
    @apply ml-8;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 100% !important;

    &__logo {
      @apply ml-14;
    }
  }
}
