.logo {
  @apply mt-10;
}

.first_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.second_section {
  width: 50%;
  min-height: 100vh !important;

  &__image {
    width: 100%;
    min-height: 100vh !important;
  }
}

.line__left {
  width: 1px;
  height: 105%;
  position: fixed;
  top: 0;
  @apply bg-custom-black;
}

.line__right {
  width: 1px;
  height: 105%;
  position: fixed;
  right: 19.2%;
  top: 0;
  @apply bg-custom-black;
}

.line__center {
  width: 1px;
  height: 105%;
  position: fixed;
  top: 0;
  left: 50%;
  @apply bg-custom-black;
}
