.logo {
  @apply mt-10;
}

.first_section {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line__left {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  @apply bg-custom-black;
}

.line__right {
  width: 1px;
  height: 100%;
  position: absolute;
  right: 19.2%;
  top: 0;
  @apply bg-custom-black;
}
