.logo {
  @apply mt-10;
}

.first_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second_section {
  width: 50%;
  min-height: 100vh !important;

  &__image {
    width: 100%;
    min-height: 100vh !important;
  }
}

.line__left {
  width: 1px;
  height: 105%;
  position: fixed;
  z-index: 105;
  top: 0;
  background-color: #676767;
}

.line__right {
  width: 1px;
  height: 105%;
  position: fixed;
  right: 19.2%;
  z-index: 105;

  top: 0;
  background-color: #676767;
}

.line__center {
  width: 1px;
  height: 105%;
  position: fixed;
  top: 0;
  z-index: 105;

  left: 50%;
  background-color: #676767;
}
