.button {
  width: 267px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-image: url("../../../assets/main/button.svg");
  transition: 0.3s all;
  @apply text-custom-black;

  &:hover {
    background-image: url("../../../assets/main/button_hover.svg");
    @apply text-custom-blue;
  }
}
