.button {
  width: 280px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-image: url("../../../assets/main/button.svg");
  background-size: cover;
  transition: 0.3s all;
  @apply text-custom-black;

  &:hover {
    background-image: url("../../../assets/main/button_hover.svg");
    @apply text-custom-blue;
  }
}

.white {
  width: clamp(145px, 67.7556vw, 580px);
  height: clamp(30px, 14.0184vw, 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background-image: url("../../../assets/main/button_white.svg") !important;
  background-size: cover;
  background-position: center center;
  transition: 0.3s all;
  @apply text-white #{!important};
}
