.section_one {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @apply ml-8;
}
.section_two {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @apply ml-8;
}

.heading {
  font-size: clamp(25px, 2.604vw, 100px) !important;
}
