.list_item {
  font-family: Montserrat;
  font-size: clamp(9px, 0.93744vw, 36px);
  font-style: normal;
  line-height: normal;
  @apply text-custom-black;
  @apply ml-8;
  @apply mt-4;
}

@media screen and (max-width: 1024px) {
  .list_item {
    font-size: clamp(9px, 1.7578125vw, 36px);
  }
}
