.under_text {
  font-family: Noto Sans;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: 141.412%;
  @apply text-custom-black;
}

@media screen and (min-width: 1024px) {
  .under_text {
    font-size: clamp(13.5px, 1.40616vw, 54px);
  }

  .white {
    color: white !important;
  }
}
