.line__left {
  width: 1px;
  height: 105%;
  position: fixed;
  top: 0;
  background-color: #676767;
}

.line__right {
  width: 1px;
  height: 105%;
  position: fixed;
  right: 19.2%;
  top: 0;
  background-color: #676767;
}

.line__center {
  width: 1px;
  height: 105%;
  position: fixed;
  top: 0;
  left: 50%;
  background-color: #676767;
}

.background-circle {
  background-image: url("../../../../assets/main/elipse.svg");
}

.section_one {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @apply ml-8;

  &__heading {
    color: #1c1c1c !important;
    font-family: Montserrat;
    font-size: clamp(35px, 3.6456vw, 140px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.section_two {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
