@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import "~rea ct-image-gallery/styles/scss/image-gallery.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.first {
  background-image: url("../../assets/services/service_01.webp");
}

.second {
  background-image: url("../../assets/services/service_02.webp");
}

.chanel {
  background-image: url("../../assets/projects/31/31_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.apple {
  background-image: url("../../assets/projects/AppleCity/applecity_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.cottage {
  background-image: url("../../assets/projects/cottage/cottage_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.doeat {
  background-image: url("../../assets/projects/DoEat/doeat_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.cottage {
  background-image: url("../../assets/projects/Cottage/cottage_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.ff {
  background-image: url("../../assets/projects/FF/ffb_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.gorky {
  background-image: url("../../assets/projects/Gorky/tennis_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.lamiya {
  background-image: url("../../assets/projects/Lamiya/lamiya_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.Lampadario {
  background-image: url("../../assets/projects/Lampadario/lampadario_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.Lenovo {
  background-image: url("../../assets/projects/Lenovo/lenovo_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.remizovka {
  background-image: url("../../assets/projects/Remizovka/remizovka_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.wendys {
  background-image: url("../../assets/projects/Wendys/wendys_tab.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.tansar {
  background-image: url("../../assets/projects/Tansar/tansar.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: Montserrat;
  font-size: clamp(25px, 11.681999999999999vw, 100px) !important;
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

.black {
  color: #2e2d2d !important;
  @apply text-custom-black #{!important};
}

@media screen and (max-width: 1000px) {
  .black {
    color: #2e2d2d !important;
    @apply text-custom-black #{!important};
  }

  h1 {
    font-family: Montserrat;
    font-size: clamp(25px, 11.681999999999999vw, 100px) !important;
    color: white !important;
    text-align: center !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Montserrat;
  }

  .scrollable_section {
    overflow-y: scroll !important;
    height: 100vh !important;
  }

  .unscrollable_section {
    overflow-y: hidden !important;
  }

  .scrollable_section::-webkit-scrollbar {
    display: none !important;
  }

  .page {
    width: 100%;
    min-height: 100vh;
  }

  .main_bg {
    background-image: url("../../assets/main/main_background.webp");
  }

  .container {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .container-no-height {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .circle {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/main/elipse.svg");
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .source_sans_pro {
    font-family: "Source Sans Pro", sans-serif;
  }

  .black {
    @apply text-custom-black #{!important};
  }

  .black_bg {
    @apply bg-custom-black #{!important};
  }

  .white_bg {
    @apply bg-white #{!important};
  }

  .paragraph {
    width: 85%;
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(9px, 4.20552vw, 36px) !important;
    font-style: normal;
    font-weight: 200;
    line-height: 145.412%;
    text-align: center;
    color: white !important;
    @apply text-white #{!important};
  }

  .paragraph_black {
    width: 85%;
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(9px, 4.20552vw, 36px);
    font-style: normal;
    font-weight: 200;
    line-height: 145.412%;
    text-align: center;
    @apply text-custom-black;
  }

  .container-pc {
    display: none;
  }

  .container-pc-no-height {
    display: none;
  }

  .noto {
    font-family: Noto Sans;
  }
}

@media screen and (max-width: 1024px) {
  .black {
    color: #2e2d2d !important;
    @apply text-custom-black #{!important};
  }

  .container-pc,
  .container-pc-no-height {
    width: 90% !important;
  }

  p {
    font-size: clamp(8px, 1.5625vw, 32px) !important;
  }
}

@media screen and (min-width: 1024px) {
  .scrollable_section {
    overflow-y: scroll !important;
    height: 100vh !important;
  }

  .unscrollable_section {
    overflow-y: hidden !important;
  }

  .scrollable_section::-webkit-scrollbar {
    display: none !important;
  }

  h1 {
    font-size: clamp(35px, 3.6456vw, 140px) !important;
    text-align: left !important;
  }

  p {
    font-weight: 300 !important;
    font-family: "Noto Sans", sans-serif !important;
    @apply text-custom-black;
  }

  .container {
    display: none;
  }

  .black {
    color: #2e2d2d !important;
    @apply text-custom-black #{!important};
  }

  .container-pc {
    width: 61.614583333333336% !important;
    min-height: 100vh !important;
    height: auto;
    display: flex;
    margin: auto;
  }

  .container-pc-no-height {
    width: 61.614583333333336% !important;
    height: auto !important;
    display: flex;
    margin: auto;
  }

  .container-no-height {
    display: none !important;
  }

  .paragraph {
    font-size: clamp(9px, 0.93744vw, 36px);
    text-align: left;
    font-family: "Noto Sans", sans-serif !important;
    color: white !important;
  }

  .paragraph_black {
    width: 85%;
    font-family: "Noto Sans", sans-serif !important;
    font-size: clamp(9px, 0.93744vw, 36px) !important;
    font-style: normal;
    font-weight: 200;
    line-height: 145.412%;
    color: #2e2d2d !important;
    @apply text-custom-black #{!important};
  }

  .main_bg {
    background-image: none;
  }
}
