@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: Montserrat;
  font-size: clamp(25px, 11.681999999999999vw, 100px) !important;
  color: white !important;
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

.page {
  width: 100%;
  min-height: 100vh;
}

.main_bg {
  background-image: url("../../assets/main/main_background.webp");
}

.container {
  width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.container-no-height {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.source_sans_pro {
  font-family: "Source Sans Pro", sans-serif;
}

.black {
  @apply text-custom-black #{!important};
}

.black_bg {
  @apply bg-custom-black #{!important};
}

.white_bg {
  @apply bg-white #{!important};
}

.paragraph {
  width: 85%;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 200;
  line-height: 145.412%;
  text-align: center;
  @apply text-white;
}

.paragraph_black {
  width: 85%;
  font-family: "Noto Sans", sans-serif;
  font-size: clamp(9px, 4.20552vw, 36px);
  font-style: normal;
  font-weight: 200;
  line-height: 145.412%;
  text-align: center;
  @apply text-custom-black;
}

.container-pc {
  display: none;
}

.container-pc-no-height {
  display: none;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: clamp(35px, 3.6456vw, 140px) !important;
    text-align: left !important;
  }

  .container {
    display: none;
  }

  .container-pc {
    width: 61.614583333333336%;
    min-height: 100vh !important;
    height: auto;
    display: flex;
    margin: auto;
  }

  .container-pc-no-height {
    width: 61.614583333333336%;
    height: auto;
    display: flex;
    margin: auto;
  }

  .container-no-height {
    display: none;
  }

  .paragraph {
    font-size: clamp(9px, 0.93744vw, 36px);
    text-align: left;
  }

  .main_bg {
    background-image: none;
  }
}
