.heading {
  font-size: clamp(17.5px, 8.177399999999999vw, 70px);
  font-family: Montserrat;
  text-align: center;
  @apply text-custom-black;
  @apply mt-8;
}

@media screen and (min-width: 1024px) {
  .heading {
    font-size: clamp(35px, 3.6456vw, 140px);
    font-family: Montserrat;
    text-align: center;
    @apply text-custom-black;
    @apply mt-8;
  }

  .section_one {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section_two {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    @apply mb-20;
  }

  .heading {
    font-size: clamp(35px, 3.6456vw, 140px);
    @apply mr-8;
  }
}

@media screen and (max-width: 1024px) {
  .section_one {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .section_two {
    width: fit-content !important;
    display: inline-flex !important;
    justify-content: center;
  }
}
