.circle {
  background-image: url("../../../../assets/main/elipse_small.svg") !important;
  // background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.heading {
  font-size: clamp(17.5px, 8.177399999999999vw, 70px);
  font-family: Montserrat;
  text-align: center;
  @apply text-white;
  @apply mt-8;
}

.paragraph_heading {
  width: 70%;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(12.5px, 5.840999999999999vw, 50px);
  font-style: normal;
  font-weight: 600;
  line-height: 141.412%;
  text-align: center;
  @apply mt-8;
}

.small_text {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: clamp(10.5px, 4.90644vw, 42px);
  font-style: normal;
  font-weight: 600;
  line-height: 141.412%;
  @apply mt-4;
}

.about_image {
  width: 100%;
  @apply mb-10;
}

@media screen and (min-width: 1024px) {
  .circle {
    background-image: url("../../../../assets/main/elipse.svg") !important;
    // background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .heading {
    width: 50%;
    text-align: left;
    font-size: clamp(37.5px, 3.906vw, 150px);
  }
}
