.button {
  width: 19.2%;
  height: clamp(49px, 5.10384vw, 196px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  @apply text-white;
  @apply bg-custom-black;
  &:hover {
    @apply bg-custom-blue;
  }

  &__text {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(10px, 1.0416vw, 40px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__burger {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @apply mt-3;

    &__line_top {
      width: 15% !important;
      height: 1px;
      @apply bg-white;
    }
    &__line_middle {
      width: 20% !important;
      height: 1px;
      @apply bg-white;
      @apply mt-2;
    }
    &__line_bottom {
      width: 15% !important;
      height: 1px;
      @apply bg-white;
      @apply mt-2;
    }
  }
}

@media screen and (max-width: 1024px) {
  .button {
    margin-right: clamp(26px, 5.078125vw, 104px);
  }
}
