.heading {
  width: 70%;
  font-size: clamp(17.5px, 8.177399999999999vw, 70px);
  font-family: Montserrat;
  text-align: center;
  @apply text-custom-black;
  @apply mt-8;
}

.background-circle {
  background-image: url("../../../../assets/main/elipse.svg");
}

@media screen and (min-width: 1024px) {
  .background-circle {
    background-image: url("../../../../assets/main/elipse.svg");
  }

  .heading {
    width: 70% !important;
    text-align: center !important;
    margin: auto !important;
    font-size: clamp(32.5px, 3.3852vw, 130px);
  }
}
