.heading {
  font-size: clamp(17.5px, 8.177399999999999vw, 70px);
  font-family: Montserrat;
  text-align: center;
  @apply text-custom-black;
  @apply mt-8;
}

@media screen and (min-width: 1024px) {
  .heading {
    text-align: right;
    font-size: clamp(37.5px, 3.906vw, 150px);
    @apply mt-12;
    @apply mr-8;
  }

  .section_one {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_two {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .image {
    width: 90%;
    height: clamp(151.5px, 15.780240000000001vw, 606px);
  }
}
