.project_tab {
  width: 100%;
  height: clamp(145px, 67.7556vw, 580px) !important;
  position: relative;
  background-image: url("../../assets/services/service_tab_example.png");

  &__text {
    position: absolute;
    bottom: clamp(9px, 4.20552vw, 36px) !important;
    left: clamp(9px, 4.20552vw, 36px) !important;
    color: #fff;
    font-family: Noto Sans;
    font-size: clamp(10px, 4.6728vw, 40px) !important;
    font-style: normal;
    font-weight: 700;
    line-height: 141.412%;
  }
}

@media screen and (min-width: 1024px) {
  .project_tab {
    width: 90%;
    height: clamp(151.5px, 15.780240000000001vw, 606px) !important;
    cursor: pointer;
    transition: 0.3s all;

    &__text {
      font-size: clamp(16px, 1.66656vw, 64px) !important;
    }

    &:hover {
      @apply drop-shadow-2xl;
    }

    &:hover &__text {
      @apply text-blue-100;
    }
  }
}

@media screen and (max-width: 1024px) {
  .project_tab {
    height: clamp(150px, 29.296875vw, 600px);

    &__text {
      font-size: clamp(16px, 3.125vw, 64px);
    }
  }
}
