.swiper {
  width: clamp(200px, 20.832vw, 800px);

  &__image {
    position: relative;
    cursor: pointer;
    width: clamp(200px, 20.832vw, 800px);
    height: clamp(125px, 13.02vw, 500px);

    &__text {
      bottom: clamp(8px, 0.83328vw, 32px);
      left: clamp(8px, 0.83328vw, 32px);
      position: absolute;
      font-family: Montserrat;
      font-size: clamp(16px, 1.66656vw, 64px);
      @apply font-bold;
      @apply text-white;
    }
  }
}
